  % block scripts 

  <!-- map js !-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.js'></script>
    <!--script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.7/leaflet.draw.js'></script>
    <script src='https://cdn-geoweb.s3.amazonaws.com/terraformer/1.0.6/terraformer.min.js'></script>
    <script src='https://cdn-geoweb.s3.amazonaws.com/terraformer-wkt-parser/1.1.1/terraformer-wkt-parser.min.js'!--></script>

    <script src='/static/js/leaflet-bootstrapmodal.js'></script>
    <!--script src='/static/js/leaflet-history.js'></script>
    <script src='/static/js/bootstrap-tagsinput.min.js'></script>
    <script src='/static/js/leaflet-hash.js'></script>
    <script src='/static/js/leaflet.usermarker.js'></script>
    <script src='/static/js/leaflet-sidebar.js'></script!-->
    <script src='/static/js/Control.FullScreen.js'></script>
    <script src='/static/js/easy-button.js'></script>
    <script src='/static/js/L.Control.Locate.min.js'></script>
    <script src='/static/js/Leaflet.Dialog.js'></script>

  <!-- // map js !-->

  % endblock

<!-- vim: set ts=2 sw=2 ai expandtab softtabstop=2 --!>
