  % block scripts 

  <!-- map js !-->
    <script src='/static/js/leaflet.js'></script>
    <script src='/static/js/leaflet-bootstrapmodal.js'></script>
    <script src='/static/js/leaflet-history.js'></script>
    <script src='/static/js/leaflet.usermarker.js'></script>
    <script src='/static/js/Control.FullScreen.js'></script>
    <script src='/static/js/leaflet-sidebar.js'></script>
    <script src='/static/js/leaflet-hash.js'></script>
    <script src='/static/js/easy-button.js'></script>
    <script src='/static/js/L.Control.Locate.min.js'></script>
    <script src='/static/js/perimap.js'></script>

  <!-- // map js !-->

  % endblock

<!-- vim: set ts=2 sw=2 ai expandtab softtabstop=2 --!>
