    <div id='sidebar' class='sidebar collapsed'>
        <!-- Nav tabs -->
        <div class='sidebar-tabs'>
            <ul role='tablist'>
                <li><a href='#home' role='tab'><i class='fa fa-bars'></i></a></li>
            </ul>

            <ul role='tablist'>
                <li><a href='#help' role='tab'><i class='fa fa-question-circle-o'></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class='sidebar-content'>
            <div class='sidebar-pane' id='home'>
                <h1 class='sidebar-header'>
                    sidebar-v2
                    <span class='sidebar-close'><i class='fa fa-caret-left'></i></span>
                </h1>
                <div class='responsive sidebar-text'></div>
          </div>
        </div>
      </div>
            </div>

<!-- vim: set ts=2 sw=2 ai expandtab softtabstop=2 --!>
