  % block styles 

  <!-- map styles !-->

    <link rel='stylesheet' href='/static/css/perimap.css' />
    <link rel='stylesheet' href='/static/css/leaflet.css' />
    <link rel='stylesheet' href='/static/css/leaflet-bootstrapmodal.css' />
    <link rel='stylesheet' href='/static/css/leaflet-history.css' />
    <link rel='stylesheet' href='/static/css/leaflet.usermarker.css' />
    <link rel='stylesheet' href='/static/css/Control.FullScreen.css' />
    <link rel='stylesheet' href='/static/css/easy-button.css' />
    <link rel='stylesheet' href='/static/css/L.Control.Locate.min.css' />
    <link rel='stylesheet' href='/static/css/leaflet-sidebar.css' />
    <link rel='stylesheet' href='/static/css/leaflet.draw.css' />
    <link rel='stylesheet' href='/static/css/loading.css' />

  <!-- // map styles !-->
  % endblock 

<!-- vim: set ts=2 sw=2 ai expandtab softtabstop=2 --!>
