    % block content
    
    <!-- gridster 4x2 !-->
    <div class='gridster'>
      <ul>
        <li data-row='1' data-col='1' data-sizex='4' data-sizey='1'>
          <div id='row1col1'>
            {{row1col1|safe}}
          </div>
        </li>
        
        <li data-row='2' data-col='1' data-sizex='4' data-sizey='1'>
          <div id='row2col1'> 
            {{row2col1|safe}}
          </div>
        </li>
      </ul>
    </div>
    
    <!-- // gridster 4x2 !-->
    % endblock

<!-- vim: set ts=2 sw=2 ai expandtab softtabstop=2 --!>
