    % block content
    
    <!-- gridster 4x3 !-->
    <div class='gridster'>
      <ul>
        <li data-row='1' data-col='1' data-sizex='2' data-sizey='4'>
          <div id='row1col1'>
            {{row1col1|safe}}
          </div>
        </li>
        
        <li data-row='2' data-col='1' data-sizex='2' data-sizey='4'>
          <div id='row2col1'> 
            {{row2col1|safe}}
          </div>
        </li>
        
        <li data-row='3' data-col='1' data-sizex='2' data-sizey='4'>
          <div id='row3col1'> 
            {{row3col1|safe}}
          </div>
        </li>
        
        <li data-row='4' data-col='1' data-sizex='2' data-sizey='4'>
          <div id='row4col1'> 
            {{row4col1|safe}}
          </div>
        </li>
        
        <li data-row='5' data-col='1' data-sizex='2' data-sizey='4'>
          <div id='row5col1'> 
            {{row5col1|safe}}
          </div>
        </li-->
      </ul>
    </div>
    
    <!-- // gridster 4x3 !-->
    % endblock

<!-- vim: set ts=2 sw=2 ai expandtab softtabstop=2 --!>
