      <div class='responsive'>
        <center>
              <h6>
                <a href='/api'>api</a>
                <a href='http://sigmon.github.com/issues'>issues</a> <hr>
                <a href='http://sigmon.github.com/issues'>documentation</a> <hr>
                <a href='/logout'>logout</a>
                <br>
                Sigmon {{version}} &copy; <hr>
                <a href='http://cbtele.net'>CB Terry'</a> <hr>
                <a href='http://sigmon.github.com'>source'</a> <hr>
                <a href='https://trello.com/b/tI6GgYiE'>roadmap'</a> <hr>
              <h6>
            </center>
      </div>

<!-- vim: set ts=2 sw=2 ai expandtab softtabstop=2 --!>
