    % extends 'sigmon.html'
    
    % block styles
      {{super()}} 
      <link rel='stylesheet' href='/static/css/d3graph.css'>
    % endblock
    
    % block content
    {{super()}} 
    <!-- d3graph !-->
      <div id='background'></div>
    
      <div id='d3g'></div> 
    <!-- // d3graph !-->
    
    % endblock

    % block scripts
    {{super()}}
    
    <script src='/static/js/d3graph.js'></script !-->
    
    <!-- // d3graph.js !-->
    
    % endblock

<!-- vim: set ts=2 sw=2 ai expandtab softtabstop=2 --!>
