    % block content
        
            <!-- notice !-->
            
            <div class='container-fluid'>
              <div class='row-fluid notices'>
                <div class='alert alert-dismissable alert-danger notification hide'>
                  <span id='notice' class='glyphicon glyphicon-alert'></span>
                    <small></small>--<strong></strong>: <i></i>

                    <button type='button' class='btn btn-warning btn-lr'>View</button>
                    <button type='button' class='btn btn-danger btn-lr'>Ok</button>
                </div>
              </div>
            </div>
            
            <!-- //notice !-->
        
    % endblock

<!-- vim: set ts=2 sw=2 ai expandtab softtabstop=2 --!>
