  % extends 'bootstrap/base.html' 
  
  % block metas 
    {{super()}}
  <!-- sigmon metas !-->

    <meta name='description' content='sigmon alpha' />
    <meta name='author' content='cbt' />
    <meta http-equiv='Pragma' content='no-cache'>
    <meta http-equiv='Expires' content='-1'>
    <meta http-equiv='CACHE-CONTROL' content='NO-CACHE'>
    
    <title>sigmon</title>

  <!-- // sigmon metas !-->
  
  % endblock 

  % block styles 
    {{super()}}
  <!-- sigmon styles !-->
    
    <link rel='icon' href='/static/favicon.ico' />
    

    <link rel='stylesheet' href='/static/css/bootstrap.min.css' />

    <link rel='stylesheet' href='/static/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/static/css/berkshire-swash.css' />
    
    <link rel='stylesheet' href='/static/css/sigmon.css' />
    
    <!--link rel='stylesheet' href='/static/css/calendar-heatmap.css' />
    <link rel='stylesheet' href='/static/css/expletus.css' />
    <link rel='stylesheet' href='/static/css/nv.d3.css'>
    <link rel='stylesheet' href='/static/css/novamono.css' /!>
    <link rel='stylesheet' href='/static/css/c3.css' /!-->
  <!-- // sigmon styles !-->
  % endblock 

  % block content
  {{super()}}
  % endblock

  % block scripts 
    {{super()}}
  <!-- sigmon js !-->
    <!--script src='/static/js/consoleDebug.js'></script>
    <script src='/static/js/dat.gui.js'></script>
    <script src='/static/js/timelines-chart.min.js'></script>
    <script src='/static/js/calendar-heatmap.js'></script>
    <script src='/static/js/nv.d3.js'></script>
    <script src='/static/js/bootstrap-datetimepicker.min.js'></script>
    <script src='/static/js/c3.js'></script>
    <script src='/static/js/d3.min.js'></script>
    <script src='/static/js/d3cloud.js'></script>
    <script src='/static/js/bootstrap-tagsinput.min.js'></script>
    <script src='/static/js/moment.min.js'></script>
    <script src='/static/js/datatables.min.js'></script>
    <script src='/static/js/jquery.gridster.min.js'></script>
    <script src='/static/js/typeahead.bundle.js'></script!-->
    <script src='/static/js/jquery.min.js'></script>
    <script src='/static/js/bootstrap/modal.js'></script>
    
    <script src='/static/js/sigmon.js'></script>
  % endblock

  <!-- // sigmon js !-->

<!-- vim: set ts=2 sw=2 ai expandtab softtabstop=2 --!>
