  % extends 'bootstrap/base.html' 
  
  % block metas 
    {{super()}}
  <!-- sigmon metas !-->

    <meta name='description' content='sigmon alpha' />
    <meta name='author' content='cbt' />
    <meta http-equiv='Pragma' content='no-cache'>
    <meta http-equiv='Expires' content='-1'>
    <meta http-equiv='CACHE-CONTROL' content='NO-CACHE'>
    
    <title>sigmon</title>

  <!-- // sigmon metas !-->
  
  % endblock 

  % block styles 
    {{super()}}
  <!-- sigmon styles !-->
    
		<link rel='icon' href='/static/favicon.ico' />
    
    
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
    <link rel='stylesheet' ref='https://fonts.googleapis.com/css?family=Berkshire+Swash' />
    
    <link rel='stylesheet' href='/static/css/sigmon.css' />
    
    <!--link rel='stylesheet' href='/static/css/calendar-heatmap.css' />
    <link rel='stylesheet' href='/static/css/bootstrap-datetimepicker.min.css' />
    <link rel='stylesheet' href='/static/css/bootstrap-tagsinput.css'>
    <link rel='stylesheet' href='/static/css/c3.css'>
    
    <link rel='stylesheet' href='/static/css/cormorant.css' />
    <link rel='stylesheet' href='/static/css/fenix.css' />
    <link rel='stylesheet' href='/static/css/expletus.css' />
    <link rel='stylesheet' href='/static/css/novamono.css' />
    <link rel='stylesheet' href='/static/css/nv.d3.css'!-->
  <!-- // sigmon styles !-->
  % endblock 

  % block scripts 
  <!-- sigmon js !-->
    <!--script src='/static/js/consoleDebug.js'></script>
    <script src='/static/js/dat.gui.js'></script>
    <script src='/static/js/timelines-chart.min.js'></script>
    <script src='/static/js/calendar-heatmap.js'></script>
    <script src='/static/js/nv.d3.js'></script>
    <script src='/static/js/d3.min.js'></script>
    <script src='/static/js/d3cloud.js'></script>
    <script src='/static/js/eventdrops.js'></script>
    <script src='/static/js/c3.js'></script>
    <script src='/static/js/bootstrap-datetimepicker.min.js'></script>
    <script src='/static/js/moment.min.js'></script>
    <script src='/static/js/bootstrap-tagsinput.min.js'></script>
    <script src='/static/js/typeahead.bundle.js'></script!-->
    <script
      src='https://code.jquery.com/jquery-3.3.1.min.js'
        integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
          crossorigin='anonymous'></script>
    
    <script src='/static/js/bootstrap/modal.js'></script>
    
    <script src='/static/js/fullscreen.js'></script>
    
    <script src='/static/js/sigmon.js'></script>

  % endblock

  <!-- // sigmon js !-->

  % block content
  % endblock

<!-- vim: set ts=2 sw=2 ai expandtab softtabstop=2 --!>
